#codeFailModal{
    height: 100%;
    width:100%;
    .title{
        font-size: 16px;
        padding-top: 20px;
        padding-left: 20px;
        font-weight: bold;
    }
    .content{
        font-size: 18px;
        margin-top: 50px;
        padding-left: 30px;
        padding-right: 20px;
        line-height: 2;
        text-align: center;
    }
    .btn{
        font-size: 16px;
        line-height:40px;
        text-align: center;
        color:#fff;
        width: 50%;
        height: 40px;
        margin-left: 25%;
        text-align: center;
        background: rgba(0,0,0,.5);
        border-radius: 20px;
        margin-top: 80px;
    }
}