
.head{
    background: #eee;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px ;
    height: 80px;
    .left {
        img{
            // background: url('../assets/images/logo.jpg';
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
    }
    .right{
        position: absolute;
        top:35px;
        left: 0px;
        height: 80px;
        font-size: 16px;
        margin-left: 125px;
        margin-right: 20px;
        font-weight: 600;
        color:#1f1e22;
    }
}

.content{
    height: 40px;
    width:100%;
    margin-top: 30px;
    padding-left:25px;
    padding-right:25px;
    box-sizing: border-box;
    position: relative;
    p {
        font-size: 14px;
        color:#ccc;
        margin-bottom: 30px;
    }
    .mint-cell {
    height: 35px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border:none;
    border-radius: 0;
    letter-spacing: 1px;
    text-indent: 10px;
    border-bottom:2px solid rgba(150, 150, 150,0.2);
         input{
            line-height: 12;
         }   
    }
    
    input::-webkit-input-placeholder{
        color:#ccc;
    }
    .volidateNum{
        position: absolute;
        top:70px;
        right:25px;
        font-size: 12px;
        color:#ccc;
    }
    .refer{
        margin-top: 60px;
        border-radius: 25px;
        background:rgba(0,0,0,.1);
        color:orangered;
    }
    #referCode{
        margin-top: 60px;
        border-radius: 25px;
        background:rgba(0,0,0,.1);
        color:orangered;
    }
    #referName{
        margin-top: 60px;
        border-radius: 25px;
        background:rgba(0,0,0,.1);
        color:orangered;
    }
    .listencode{
        font-size:13px;
        color:#ccc;
        text-align: right;
        .getListen{
            position: relative;
            color:rgba(0,0,0,.6);
            font-size:13px;
            font-weight: bold;
        }
    }
    .telError{
            position: absolute;
            z-index: 10;
            top: 105px;
            left: 25px;
        .telPhone{
            display: inline-block;
            font-size: 16px;
            width:14px;
            height: 14px;
            line-height: 14px;
            text-align: center;
            border-radius: 50%;
            color:#fff;
            background: rgba(0,0,0,.5);
        }
        .rightPhone{
            font-size: 12px; 
            color:#ccc;
        }
    }
}

.modalShow{
    width:100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    margin: auto;
    .modal{
        width:90%;
        height: 45%;
        margin-left: 5%;
        margin-right: 5%;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom: 0;
        margin: auto;
        background: #fff;
    }
}

// 验证码请求错误
.codeFail{
    width:100%;
    height: 100%;
    background: rgba(0,0,0,.5);
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom: 0;
    margin: auto;
    .fail{
        width:80%;
        height: 40%;
        margin-left: 10%;
        margin-right: 10%;
        position: absolute;
        top:0;
        left:0;
        right:0;
        bottom: 0;
        margin: auto;
        background: #fff;
    }
}

