#pwdModal{
    font-size: 16px;
    font-weight: 600;
    .title{
        font-size: 16px;
        padding-top: 20px;
        padding-left: 20px;
    }
    .accountName{
        color:#aaa;
        margin-top: 20px;
        padding-left: 30px;
        line-height: 2;
    }
    .accountPwd{
        color:#aaa;
        margin-top: 10px;
        padding-left: 30px;
        padding-right: 20px;
        line-height: 2;
        margin-bottom: 30px;
    }
    .btn{
        font-size: 20px;
        line-height:40px;
        text-align: center;
        color:#fff;
        width: 70%;
        height: 40px;
        margin-left: 15%;
        text-align: center;
        background: rgba(0,0,0,.5);
        border-radius: 20px;
        margin-top: 35px;
    }
}